@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Mona Sans';
	src: url('../public/fonts/mona-sans-black-wide.woff2')
			format('woff2 supports variations'),
		url('../public/fonts/mona-sans-black-wide.woff2') format('woff2-variations');
	font-weight: 200 900;
	font-stretch: 75% 125%;
}

@layer base {
	:root {
		--background: #ffffff;
		--foreground: #000000;
		--card: #ffffff;
		--card-foreground: #000000;
		--popover: #ffffff;
		--popover-foreground: #000000;
		--primary: #161616;
		--primary-foreground: #ffffff;
		--secondary: #f3f3f3;
		--secondary-foreground: #161616;
		--muted: #f3f3f3;
		--muted-foreground: #777777;
		--accent: #f3f3f3;
		--accent-foreground: #161616;
		--destructive: #d82e39;
		--destructive-foreground: #ffffff;
		--border: #e5e5e5;
		--input: #e5e5e5;
		--ring: #161616;
		--radius: 2rem;
		--chart-1: #d94a3d;
		--chart-2: #2f6f63;
		--chart-3: #2f485c;
		--chart-4: #e2a854;
		--chart-5: #f29744;
		--sidebar-background: #ffffff;
		--sidebar-foreground: #424242;
		--sidebar-primary: #161616;
		--sidebar-primary-foreground: #ffffff;
		--sidebar-accent: #f3f3f3;
		--sidebar-accent-foreground: #161616;
		--sidebar-border: #e3e3e3;
		--sidebar-ring: #3f8db0;
	}

	.dark {
		--background: #000000;
		--foreground: #ffffff;
		--card: #000000;
		--card-foreground: #ffffff;
		--popover: #000000;
		--popover-foreground: #ffffff;
		--primary: #ffffff;
		--primary-foreground: #161616;
		--secondary: #232323;
		--secondary-foreground: #ffffff;
		--muted: #232323;
		--muted-foreground: #a3a3a3;
		--accent: #232323;
		--accent-foreground: #ffffff;
		--destructive: #4b191a;
		--destructive-foreground: #ffffff;
		--border: #232323;
		--input: #232323;
		--ring: #d1d1d1;
		--chart-1: #004466;
		--chart-2: #00a877;
		--chart-3: #ffa244;
		--chart-4: #d958d5;
		--chart-5: #d93d99;
		--sidebar-background: #161616;
		--sidebar-foreground: #f3f3f3;
		--sidebar-primary: #2c3a73;
		--sidebar-primary-foreground: #ffffff;
		--sidebar-accent: #232323;
		--sidebar-accent-foreground: #f3f3f3;
		--sidebar-border: #232323;
		--sidebar-ring: #3f8db0;
	}
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}

	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	.no-scrollbar {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4 {
	font-family: 'Mona Sans', system-ui, -apple-system, BlinkMacSystemFont,
		'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
		sans-serif;
}
